<div class="alert alert-block alert-warning">
An independent Chi-Square is used when you want to determine whether two categorical variables influence each other.
<br>
<b>Requires:</b><br>
    - 2 independent <i>categorical</i> variables<br>
</div>

## QUESTION:
Does the price of the product depend on whether it is a `lip stick` or `lip gloss`?

Categorical variables to use: 
- <b>Product category (`prodType`)</b>  has 2 levels<br>
    - `LP` for lipstick
    - `LG` for lipgloss<br><br>
- <b>Price category (`priceCatgry`)</b>  has 3 levels:
    - <b>1</b> : < 5 euros
    - <b>2</b> : 5 - 15 euros
    - <b>3</b> : > 15 euros

## Import Packages

In [2]:
import pandas as pd
from scipy import stats

## Load Data

In [3]:
lead_lipstick = pd.read_csv('./assets/lead_lipstick.csv')

In [4]:
lead_lipstick.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

## Test Assumptions
There is only one assumption for Chi-Square, and it is that when you are looking at the contingency tables, the expected frequencies for each cell need to have at least 5 entries per cell.<br><br>In Python, the only way to easily generate an expected frequencies table is actually to run the analysis. So, you will conduct your independent Chi-Square first, and then make sure it meets this assumption!

### Create a Contingency Table

The first thing that needs to be done, before you can run the independent Chi-Square analysis, is to create a contingency table, sometimes called a crosstab, which shows how each level of each variable crosses with the other variable levels.<br>`pandas` saves the day with an easy to use function called `crosstab()`:

In [6]:
lipstick_crosstab = pd.crosstab(lead_lipstick['prodType'], lead_lipstick['priceCatgry'])

In [7]:
lipstick_crosstab

priceCatgry   1   2   3
prodType
LG           19  43  12
LP           34  92  23

The three price categories are on the top, and the two different product types are along the side.<br>What is shown in the cells are how many products fit in both categories.<br>For instance, there are 19 `lip glosses` less than `5 euros`.

### Running the Independent Chi-Square

Once you have the contingency table, then you can run the function `stats.chi2_contingency` on the contingency table you have created:

In [8]:
stats.chi2_contingency(lipstick_crosstab)

(0.2969891724608704,
 0.8620046738525345,
 2,
 array([[17.58744395, 44.79820628, 11.61434978],
        [35.41255605, 90.20179372, 23.38565022]]))

At first, it looks like a jumble of things. But the first value is your Chi-Square statistic.
<br>The second value is your p value associated with that Chi-Square statistic.<br><br>Looking at this, it looks like there is not a significant relationship between product type and product price. Neither lipstick nor lip gloss is pricier or cheaper than the other.

### Test the Assumption of 5 Cases per Expected Cell

The last piece of the output, labeled `array`, is your expected count contingency table, albeit not a very pretty one!<br><br>The expected count is what you would expect to happen if there was <i>no relationship</i> between the two variables.<br><br><b>Since all of these values are over 5, this means that the assumption has been met, and you are free to present and discuss these results without any limitations!</b>