# DS101- BASIC STATISTICS:

- Lesson 7 
- Lesson 7 helper link here
- How do I attach my Excel Helpers here?

# DS102- STATISTICAL PROGRAMING IN R:

## Restart or Update R:

#### First Save your work!!! 

1. Here's what to do....
    - Clear our your R:
    - clear out the entire R console, environment and plot section with that broom's
2. Restart R:
    - click session at the top menu bar
    - restart R
3. Update R:
    - click Help on the menu bar
    - check for updates
    - update
    - Exit out of R in order to install the upgrade
4.  It will navigate you to the website
    - choose the free version
    - download to you type of computer
    - once downloaded, go back to R
    - double check that it upgraded by clicking help and check for updates, it will say you have the latest version if done correctly

- Lesson 3 For Loops
- Helper Link here

- Lesson 7: 
    - Subset the vectors and use the vector in `t-test`, not `datasetName$columnName`

- Lesson 8:
    - Get Mos' video

# DS108- DATABASES:

- SQL:
    - where, like and order by video (https://vimeo.com/415351814)
    - Joins (https://vimeo.com/showcase/5252343/video/561034501) 
    - Put photos in Media and Upload Jessenia's photos on left and right joins
    - Create Tables

- NoSQL:
    - Connecting mongo VIDEO
    - embedding 
    - NoSQL syntax

# DS109- PROGRAMING IN PYTHON:

- Python syntax's 
    - dictionary
    - etc

- How to run Python Code correctly in VScode

- Final
    - needs better instructions or new video

# DS104- DATA WRANGLING AND VISUALIZATIONS:

## Import Data

#### Python:

In [ ]:
# Only 1 time, will not have to do this again if pandas is not working
pip install pandas

# Import packages:
import pandas as pd

# Import data:
# CSV:
DatasetName = pd.read_csv("pathway.csv")
# EXCEL:
DatasetName = pd.read_excel("pathway.xlsx")

# Look at data:
DatasetName.head()

#### R:

In [ ]:
# Import Packages:
install.packages(“readr”)
install.packages(“readxl”)
library(readr)
library(readxl)

# Import Data:
# CSV:
DatasetName <- read_csv("pathway.csv")
# EXCEL:
DatasetName <- read_excel("pathway.xlsx")

# Look at Dataset:
View(DatasetName)
head(DatasetName)

## Looking at the Datasets:

#### Python:

In [ ]:
# Looking at Entire Dataset:
datasetName()

# Looking at top 5 columns:
DatasetName.head()

#### R:

In [ ]:
# Look at Entire Dataset:
View(DatasetName)

# Looking at top 5 columns:
head(DatasetName)

## Column Names

#### Python:

In [ ]:
datasetName.columns

#### R:

In [ ]:
names(dataFrame)

## Column Variables

#### Python:

In [ ]:
df.column.value_counts()

#### R:

In [ ]:
unique(Dataset$column)

## Dataset Structure:

#### Python:

In [ ]:
# looks at data types
Dataset.info()

# count, max, min, quartiles, std, mean
Dataset.describe()

#### R:

In [ ]:
str(datasetName)

## Removing Missing Data

#### Python:

In [ ]:
dataset.dropna(inplace=True)

#### R:

In [ ]:
newdatasetName <- na.omit("OriginalDataset")
newdatasetName <- NaRV.omit("OriginalDataset")

## Dropping Columns

#### Python:

In [ ]:
datasetName.drop(['Column1', 'Column2', 'Column3'], axis=1, inplace=True)

#### R:

In [ ]:
# Filtering and Keeping the column you want, While removing the other: 
newDSname <- na.omit(ogDS %>% filter(ColumnName %in% c(“keep”, “these”, “categories” ,“ within this column”)))

## Renaming Columns

#### Python

In [ ]:
# Example 1
DS["New Column Name"].(Old Column Name)

# Example 2
datasetName.rename(columns={"old column name 1":"new column name 1", "old column name 2":"new column name 2"}, inplace=True)

#### R

In [ ]:
# Example 1
names(DS)[names(DS) == "old column name"]  <- "New Column Name"

## Recoding

#### Python:

In [ ]:
# Python: Recoding/ Replacing:
# 4 different ways to recode:

# Find the Columns you need to recode
dataset.unique()

# Look and see what variables are inside your column. And see what variables you need to recode. 

dataSetName.ColumnName.value_counts()
dataset.ColumnName.unique()

In [ ]:
# Step 1: 
# 1 way to recode 1 column and the variables

def NewFunctionName (series):
  if series == "Original Column Category Name":
    return "0"
  if series == "OG column category": 
    return "1"
  if series == "OG column category": 
    return "2"
  if series == "OG column category": 
    return "3"

DataSetName["RecodeColName"] = DataSetName["OriginalColName"].apply(NewFunctionName)

In [ ]:
# Step 2:
# 2nd Way: If you don't want to type all that code above. You can just replace the variables instead of recoding. Using the .replace() function and correct syntax format. Keep in mind the numbers are numeric, bc your changing the original variables to it's new numeric values.

dataFrame['NewColumnName'] = dataFrame['OriginalColumnName'].replace(['Variable0', 'Variable1, 'Variable2'],[0,1,2])

dataFrame = dataFrame['NewColumnName']

In [ ]:
# Step 3:
# 3rd Way: you can just entirely replace the variables inside the column ADD do multiple columns at once. Using the .replace() function and correct syntax format. 

NewVariableName = {
"ColumnName": {"variable": 0, "variable1": 1,"variable2": 2},
"ColumnName1": {"variable": 0, "variable1": 1, "variable2": 2},  
"ColumnName2": {"variable": 0, "variable1": 1, "variable2": 2}}     

DatasetName.replace(NewVariableName , inplace=True)

In [ ]:
# Step 4:
#recode using replace() function
df.replace(['Manga', '4-koma manga', 'Web manga', 'Digital manga'], 'Manga', inplace =True)
df.replace(['Light novel', 'Novel', 'Visual novel', 'Picture book', 'Book'], 'Book', inplace =True)
df.replace(['Game', 'Card game'], 'Game', inplace =True)
df.replace(['Original', 'Other', 'Music', 'Radio'], 'Listening', inplace =True)

#### R:

In [ ]:
df$columnNameRecode <- NA
df$columnNameRecode[df$columnName <= variables] <- 0
df$columnNameRecode[df$columnName > variables] <- 1

df$columnNameRecode[df$columnName == 'variables'] <- 0
df$columnNameRecode[df$columnName == 'variables'] <- 1

## Changing Data Types:

#### Python:

In [ ]:
ds.column = ds.column.astype(int)
ds.column = ds.column.astype(str)

#### R:

In [ ]:
ds$column <- as.numeric(ds$column)

## Aggregating:

#### Python:

In [ ]:
datasetName.groupby('CagitoricalColumnName')['ContinousColumnName'].sum()

In [ ]:
Dataset.groupby("ColumnName").mean( )

#### R:

In [ ]:
datasetName <- aggregate(ContinousColumnName ~ CagitoricalColumnName, originaldatasetName, sum)

## Joining Dataset by Common Columns:

#### Python:

In [ ]:
datasetName = pd.merge(datasetName1, datasetName2, on='CommonColumn')
datasetName.head()

#### R:

In [ ]:
datasetName <- merge(datasetName1, datasetName2, by=c("CommonColumn"))

## Appending Datasets: 
- Adding two datasets together

#### Python:

In [ ]:
datasetName3 = pd.concat([datasetName1, datasetName2])

#### R:

In [ ]:
datasetName3 <- rbind(datasetName1, datasetName2)

# Graphing:

## Histograms

#### Python:

In [ ]:
# Basic Histogram:
datasetName['columnName'].hist()

# Basic Histogram:
# Comparing Columns (continious data vs categorical data)
datasetName.columnName1[datasetName.columnName2 == "Column Variable from Column 2"].hist()

#### R:

In [ ]:
# library(ggplot2)
# Basic Histogram:
ggplot(dataframe, aes(columnName)) + geom_histogram( ) 

# Labeled Histogram:
ggplot(dataframe, aes(columnName)) +
geom_bar( ) +
ggtitle("Title") +
xlab("X Label") +
ylab("Y Label / Frequency") 

# library(lattice)
barchart(dataFrame$columnName, main= "Title", ylab= "Y Label" , xlab= "X Label / Frequency")

# (By default x and y are switched in lattice)

## Box Plots

#### Python:

In [ ]:
HR.satisfaction_level.hist()

In [ ]:
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

n, bins, patches = plt.hist(HR["satisfaction_level"], num_bins, facecolor="blue", alpha=.05)

#### R:

In [ ]:
num_bins = 5
n, bins, patches = plt.hist(HR['satisfaction_level'], num_bins, facecolor='blue', alpha=.05)
plt.xlabel('Satisfaction Level')
plt.ylabel('Frequency')
plt.title('Histogram of Satisfaction Level')
plt.show()

In [ ]:
newName <- ggplot(datasetName, aes(x = " ", y = columnName))
newName + geom_boxplot() + xlab(" ")

## Line Plots:

#### Python:

In [ ]:
matplotlib(package)
plt.plot(Earthquakes['Date'], Earthquakes['M'])

#### R:

In [ ]:
# (needs to all be numeric, refer to page 14)
# syntax Example
ggplot(earthquakes, aes(as.Date(Date, "%j-%b-%y"), M)) +
    geom_line() + 
    xlab("Date of Earthquake") + 
    ylab("Earthquake Magnitude") + 
    ggtitle("Magnitude of Earthquakes over Time")

# syntax 
library(ggplot2)
ggplot(dataFrame, aes(as.Date(DateVariable, "SpecifyDateFormat"), Yvariable)) +
    geom_line() +
    xlab("X Label") +
    ylab("Y Label") +
    ggtitle("Title")

## Scatter Plots:

#### Python:

In [ ]:
Plot = nutrition.plot.scatter(x= "fats", y= "sat fats")
Plot.set_title("Fats by Saturated Fats")
Plot.set_xlabel("Fats")
Plot.set_ylabel("Saturated Fats")

#### R:

## Normal Distributions Plots:

#### Python:

#### R:

In [ ]:
ggplot(datasetName, aes(sample = columnName)) + geom_qq()

plotNormalHistogram(ds$column)

# Bar Charts:

#### Python:

In [ ]:
HR['salary'].value_counts().plot(kind='bar')

#### R:

In [ ]:
library (ggplot) 
library (lattice )

barchart(HR_data$salary)
# OR
barchart(HR_data$salary, main="Frequency of Salary", ylab = "Salary Category", xlab = "Frequency", col="green")

## Stacked Bar Chart:

#### Python:

In [ ]:
crosstab_df = pd.crosstab(HR_data['sales'], HR_data['salary'])
crosstab_df.plot.bar(stacked=True)

#### R:

In [ ]:
ggplot(data=HR_data) +
    geom_bar(mapping = aes(x = sales, fill=salary)) + 
    ggtitle("Sales Categories by Salary Level") +
    xlab("Sales Category") +
    ylab("Frequency")

# DS106- MACHINE LEARNING AND MODELING:

In [ ]:
pip install numpy
pip install sklearn
pip install scipy
pip install matplotlib
pip install ntlk

### Lesson 1 - Diamonds Handson

1. When you are doing ANY type of modeling or ML, your dataset must be cleaned up and most of the time needs to be numeric. 

2. That means recoding any categorical variables to numeric variables and dropping columns you do not need, you dont know what they mean, or are repetitive. Remove missing data

		Drop unwanted columns
		Remove missing data
		Recode categorical to numeric


3. Drop Columns:
    - Python:
        - `datasetName.drop(["Column1", "Column2", "Column3"], axis=1, inplace=True)`
    - R: (Filtering and Keeping the column you want, While removing the other) 
        - `newDSname <- na.omit(OrginalDataset %>% filter(ColumnName %in% c("keep", "these", "categories", "within this column")))`


4. Remove missing Data: 
    - Python:
        - `dataset.dropna(inplace=True)`
    - R:
        - `newdatasetName <- na.omit("OriginalDataset")`
        - `newdatasetName <- NaRV.omit("OriginalDataset")`


5. Check Data Type:
    - Python:
        - `info()`
    - R:
        - `str()`


6. Change Data Type to numeric:
    - Python:
        - `ds.column = ds.column.astype(int)`
     - R: 
         - `ds$column <- as.numeric(ds$column)` 


7. Look at your Columns variables:
    - Python:
        - `dataset.value_counts("ColumnName")`
    - R:
        - `unique(Dataset$column)`

8. Recode:
    - Python:
    - R: 

9. These are the steps you need to take in order to Data Wrangle and Transform your data in order to run ML or Modeling.

### Lesson 1 - Page 6
1. When you are testing for outliers in the X space and you are using Jupyter notebook, the code from the lesson `CookD(lmMod, group=NULL, plot=TRUE, idn=3, newwd=TRUE)`
will not populate due to `newwd=TRUE`. 

2. This only works in RStudio as it opens a new window. If using Jupyter notebook, use the code `CookD(lmMod, group=NULL, plot=TRUE, idn=3, newwd=FALSE)` for a perfectly populated graph. Happy Coding!

### Lesson 1 - Page 7
1. For my fellow learners doing k-Folds, if you are using the newest version of sklearn, the code
    - `kfold = KFold(3, True, 1) for train, test in kfold.split(x,y):
    print('train: %s, test: %s' % (train,test))`

### Lesson 2:

`tidyverse` or `dpylr` packages not working:
1. Here's what to do....
    - Clear our your R:
    - clear out the entire R console, environment and plot section with that broom's
2. Restart R:
    - click session at the top menu bar
    - restart R
3. Update R:
    - click Help on the menu bar
    - check for updates
    - update
    - Exit out of R in order to install the upgrade
4.  It will navigate you to the website
    - choose the free version
    - download to you type of computer
    - once downloaded, go back to R
    - double check that it upgraded by clicking help and check for updates, it will say you have the latest version if done correctly
5. Install tidyverse and dpylr 
6. Then once the R has restarted/upgraded go to the bottom a directly type inside the console
    - `install.packages("tidyverse")`
    - `install.packages("dpylr")`
7. That should do the trick. The function `%<%` is not working be your `dyplr` package. Im not sure why, but it's touchy.

### Lesson 3
- Expontential and Quadratic graphs

# DS105- INTERMEDIATE STATISTICS:

In [ ]:
pip install seaborn

### Lesson 8

Error in:
- `leveneTest(trestbps~sex, data=heartAttacks)`
- Error in `leveneTest.formula(trestbps ~ sex, data = heartAttacks)`

Fix it:
- Run this first
- `heartAttacks$sex = as.factor(heartAttacks$sex)`

# DS107- INTRODUCTION TO BIG DATA:

### Slack Reminders:

#### Message 1:
1. Hello everyone and Welcome to DSO107
 - If you have ONLY 8 GB ram of memory please just do the alternate assignments instead of hortonworks. 
 - Do not download anything!!! The download and running of the Virtual Machine which takes a lot of resources to run. 
 - If you have more than 8 GB ram on your computer, feel free to try it out...
2. HOWEVER... We’re working on alternate AWS Academy courses instead of the Hortonworks. The Instructor has sent out and email Invitation to AWS Academy. If you have not received it please let 
- @Joseph Raetano
- @Dr. Mohamad Saleh

#### Message 2:
1. Hello everyone and welcome to DSO107. If you have only 8 GB of memory please just do the alternate assignments instead of hortonworks. If you have more feel free to try it out, but know that we’re working on alternate AWS Academy courses instead of the Hortonworks download and running of the Virtual Machine which takes a lot of resources to run. I’ll send out AWS Academy invites out soon to the email you have on file.

# DS103- METRICS AND PROCESSING:

### Lesson 5: Reliability and Validity Hands On
- https://woz-u.slack.com/archives/C0293SYRP8A/p1634662296032200

Project Management: `Prep for Final Project`
   - Scrum/Trello Videos and walk throughs
   - Waterfall Examples and Videos
   - Monkey Survey