# DS109-08-11 Jupyter and Pandas Hands-On
You are working for an ecology company, and they have been tracking bison throughout North America. They've collected data in the `BisonTracking.csv` on the location, number, genus, and species of bison. They'd like to know some basic information about the bison, to determine whether the species is still in danger or whether it is recovering.

## 1.  Data Exploration
1. Read in your data as a CSV file
2. Look at the first seven rows of your data
3. Look at the last ten rows of your data
4. Determine the number of rows and columns your dataset has

In [1]:
# Must import data science package `Pandas`
import pandas as pd

### 1.1.   Read in the data as a CSV file

In [2]:
bisonData = pd.read_csv('BisonTracking.csv')

### 1.2.  Look at the first 7 rows of the data

In [3]:
bisonData.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

### 1.3.   Look at the last 10 rows of your data

In [4]:
bisonData.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

### 1.4b.  Determine the number of _rows_ in your dataset

In [5]:
len(bisonData)

1107

### 1.4b.   Determine the number of _columns_ in your dataset

In [6]:
len(bisonData.columns)

5

---

## 2. Analysis

### 2.1.  How many bison are of the species `antiquus`?

In [7]:
# Get the columns to specify variable you want to count
bisonData.columns

Index(['Collection/Population Locality', 'SpecimenNumber', 'Genus', 'Species',
       'Length'],
      dtype='object')

In [8]:
# Use `value_counts()` to count species: antiquus
bisonData.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

### 2.2.   What is the mean and standard deviation of `Length`?

In [9]:
# Use `.describe()` on `Length` variable
bisonData.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

### 2.3.   What is the median `Length` of the bison?

In [10]:
# Use `.median()` on `Length` variable
bisonData.Length.median()

8.0