In [2]:
# Python package: pandas
import pandas as pd

In [8]:
babies = pd.read_excel (r'/Users/heather/Documents/GitHub/DS-Student-Resources/DS104-Data-Wrangling-and-Visualization/Assignments/Heather Walker - DS104-01 Examples/babies.xlsx')
print (babies)

        Name        First   Birthday                       StreetAddress  \
0     Potter      Alec J. 2017-11-06            229-8390 Dignissim. Road
1    Mcclure    Lucius S. 2018-08-14         P.O. Box 593, 7892 Nunc St.
2     Farley     Hilel Y. 2017-12-07                     3859 Tellus Rd.
3   Cummings   Randall W. 2018-03-07        Ap #293-6684 Lobortis Street
4     Lester     Bruce I. 2018-01-14                 495-3192 Dictum St.
..       ...          ...        ...                                 ...
95     Walls    Judith G. 2018-03-04             Ap #870-3273 Tempor Rd.
96     Cantu    Xandra X. 2018-06-08                      4937 Justo Ave
97   Griffin    Curran I. 2018-04-15  P.O. Box 408, 9749 Posuere, Avenue
98  Hamilton   Mufutau R. 2019-06-01      P.O. Box 609, 3807 Cursus, St.
99      Owen    Lucian L. 2017-12-07       P.O. Box 868, 7319 Cursus Rd.

        City  Zipcode  Weight  Height     HospitalID ParentPhoneNumber  \
0   Ucluelet    36170       1       9  1672053023999    1-180-978-6309
1   Licantén    47279       5      19  1609023064699    1-667-136-7396
2       Alva    78490       6       5  1664012354399    1-914-735-7605
3     Vicuña    36395       9       9  1669072896099    1-568-861-3669
4    Bonnert    25130      10      15  1603101020999    1-494-905-3888
..       ...      ...     ...     ...            ...               ...
95  Poulseur    56636       5      20  1672011532799    1-677-337-9550
96     Ururi    53340       2       1  1645121821499    1-814-182-3412
97   Mundare    29651       6       4  1624011363899    1-884-337-8152
98    Inuvik    29044      11       5  1651073012999    1-941-605-0697
99  Branchon    87374      15      15  1683030784599    1-407-251-3092

                              ParentEmail
0                        ut@nisiAenean.ca
1               Donec.luctus@Maecenas.edu
2        Aenean@imperdietnonvestibulum.ca
3                velit.eu.sem@Aliquam.com
4        dolor.Donec@miAliquamgravida.com
..                                    ...
95        lobortis.quam@sollicitudina.edu
96              nisl@malesuadafames.co.uk
97    arcu.Nunc.mauris@dolornonummyac.com
98  Vivamus.euismod@inceptoshymenaeos.org
99       nonummy.ipsum@metusInlorem.co.uk

[100 rows x 11 columns]

In [9]:
# Call the data frame, add new column with name 'Footprint'
# Fill the column with value `Y` for "yes"
babies['Footprint'] = 'Y'

In [12]:
babies.head()

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,ParentPhoneNumber,ParentEmail,Footprint
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,ut@nisiAenean.ca,Y
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Donec.luctus@Maecenas.edu,Y
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Aenean@imperdietnonvestibulum.ca,Y
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,velit.eu.sem@Aliquam.com,Y
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,dolor.Donec@miAliquamgravida.com,Y

In [ ]:
# Rename a column
babies.rename(columns={'ParentPhoneNumber' : 'Phone'}, inplace=True)

In [ ]:
# DS104-01-08 - Combining Columns in Python
# Combining 2 columns - combines into a new column and leaves the 2 originals
babies['FullName'] = babies["Name"] + " " + babies["First"].map(str)

In [ ]:
# Comginging 3+ columns - messier syntax
babies['Address'] = babies["Street Address"] + " / " + babies["City"] + " / " + babies["Zipcode"].map(str)

In [ ]:
# DS104-01-09 - Splitting Columns in Python
# First, split (where it puts it into it's own dataframe)
# VERSION 1
babies1 = babies['Address'].str.split('/', expand=True)

# VERSION 2 - with `rename` to give the columns a name
babies2 = babies['Address'].str.split('/', expand=True).rename(columns = lambda x: "Address"+str(x+1))

In [ ]:
# Add the columns back into the dataset
babies3 = pd.concat([babies, babies2], axis=1)

In [ ]:
# DS104-01-11 - Subsetting Data in Python
# Keep only the first 3 rows
babies7 = babies[:3]

In [ ]:
# Keep columns with column names
babies8 = babies[['Name', 'Birthday', 'ParentEmail']]

In [ ]:
# Dropping columns by name (axis=1 tells Python to apply to columns, rather than rows (the default))
babies.drop(['ParentPhone'], axis=1)